.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
doc
Meta
.Rproj.user/BD196EDA/cpp-definition-cache
.Rproj.user/BD196EDA/pcs/files-pane.pper
.Rproj.user/BD196EDA/pcs/source-pane.pper
.Rproj.user/BD196EDA/pcs/windowlayoutstate.pper
.Rproj.user/BD196EDA/rmd-outputs
.Rproj.user/BD196EDA/sources/prop/A568CE21
.Rproj.user/BD196EDA/sources/prop/F80E8794
.Rproj.user/BD196EDA/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
